@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    text-align: center;
    background-color: palegoldenrod;
    justify-items: center;
}

.container{
    margin-top: 16px;
    width: 99%;
    height: 110vh;
    border-radius: 50px;
    border: 6px solid #232323;
    justify-items: center;
    font-family: ubuntu;
    letter-spacing: 1px;
}
 
.boxes{
    margin-top: 36px;
    display: flex;
    width: auto;
    height: auto;
    padding: 12px;
    border-radius: 50px;
    border: 6px solid #232323;
}

.box{
    margin: 16px;
    height: 180px;
    width: 180px;
    border-radius: 20%;
    border: 6px solid #232323;  
}

h1{
    color: rgb(167, 0, 0);
    margin-top: 48px;
    font-family: ubuntu;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 48px;
}

h2{
    margin-top: 18px;
    font-size: 32px;
    font-weight: 400;
    font-family: ubuntu;
}

.yellow{
    background-color: rgb(222, 255, 4);
}

.red{
    background-color: rgb(255, 51, 0);
}

.purple{
    background-color: plum;
}

.green{
    background-color: rgb(73, 163, 73);
}

.flash{
    background-color: white;
}

.black{
    background-color: black;
}

.gameOver{
    background-color: red;
}
